{pre_hooks, [{compile, "./piqic.sh"}]}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {smk_api_common, ".*", {git, "https://github.com/smarkets/smk_api_common.git", {tag, "0.1-alpha"}}},
    {piqi, ".*", {git, "https://github.com/smarkets/piqi.git", {branch, "rebar"}}},
    {ossp_uuid, ".*", {git, "https://github.com/yrashk/erlang-ossp-uuid.git", {branch, "master"}}},
    {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
  ]}.
{erl_opts, [debug_info, fail_on_warnings]}.
