{pre_hooks, [{compile, "./piqic.sh"}]}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {smk_api_common, ".*", {git, "git://git.corp.smarkets.com/smk_api_common.git", {branch, "ticket-3249-login-with-token-parameter"}}},
    {piqi, ".*", {git, "git://git.corp.smarkets.com/piqi.git", {branch, "master"}}},
    {ossp_uuid, ".*", {git, "git://git.corp.smarkets.com/erlang-ossp-uuid.git", {branch, "master"}}},
    {proper, ".*", {git, "git://git.corp.smarkets.com/proper.git", {branch, "master"}}}
  ]}.
{erl_opts, [debug_info, fail_on_warnings]}.
