{pre_hooks, [{compile, "./piqic.sh"}]}.
{deps, [
    {smk_api_common, ".*", {git, "git://git.corp.smarkets.com/smk_api_common.git", {branch, "renaming"}}},
    {piqi, ".*", {git, "git://git.corp.smarkets.com/piqi.git", {branch, "master"}}},
    {ossp_uuid, ".*", {git, "git://git.corp.smarkets.com/erlang-ossp-uuid.git", {branch, "master"}}}
  ]}.
{erl_opts, [debug_info, fail_on_warnings]}.
